
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: none repeat scroll 0 0 #ffffff;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.spinner {
  animation: pulse 1s infinite ease-in-out alternate;
}
  
.spinner svg {
  fill: #ff5500;
  font-size: 32px;
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}
